SalesReportUtility/Web References/SalesReportWebService/SalesReportWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantConfigured">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantConfiguredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MerchantConfiguredResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewDECConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillAmt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewDECConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewDECConsumerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSalesReportLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSalesReportLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSalesReportLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="MerchantConfiguredSoapIn">
    <wsdl:part name="parameters" element="tns:MerchantConfigured" />
  </wsdl:message>
  <wsdl:message name="MerchantConfiguredSoapOut">
    <wsdl:part name="parameters" element="tns:MerchantConfiguredResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewDECConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewDECConsumer" />
  </wsdl:message>
  <wsdl:message name="AddNewDECConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewDECConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="AddSalesReportLogSoapIn">
    <wsdl:part name="parameters" element="tns:AddSalesReportLog" />
  </wsdl:message>
  <wsdl:message name="AddSalesReportLogSoapOut">
    <wsdl:part name="parameters" element="tns:AddSalesReportLogResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesReportWebServiceSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MerchantConfigured">
      <wsdl:input message="tns:MerchantConfiguredSoapIn" />
      <wsdl:output message="tns:MerchantConfiguredSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewDECConsumer">
      <wsdl:input message="tns:AddNewDECConsumerSoapIn" />
      <wsdl:output message="tns:AddNewDECConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesReportLog">
      <wsdl:input message="tns:AddSalesReportLogSoapIn" />
      <wsdl:output message="tns:AddSalesReportLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesReportWebServiceSoap" type="tns:SalesReportWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantConfigured">
      <soap:operation soapAction="http://tempuri.org/MerchantConfigured" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDECConsumer">
      <soap:operation soapAction="http://tempuri.org/AddNewDECConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesReportLog">
      <soap:operation soapAction="http://tempuri.org/AddSalesReportLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesReportWebServiceSoap12" type="tns:SalesReportWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantConfigured">
      <soap12:operation soapAction="http://tempuri.org/MerchantConfigured" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDECConsumer">
      <soap12:operation soapAction="http://tempuri.org/AddNewDECConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesReportLog">
      <soap12:operation soapAction="http://tempuri.org/AddSalesReportLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesReportWebService">
    <wsdl:port name="SalesReportWebServiceSoap" binding="tns:SalesReportWebServiceSoap">
      <soap:address location="https://www.offertraker.com:1111/SalesReportWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesReportWebServiceSoap12" binding="tns:SalesReportWebServiceSoap12">
      <soap12:address location="https://www.offertraker.com:1111/SalesReportWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>